:root {
  --navPadding: 30px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 850px) {
  .stageDiv {
    
    
    width: 100%;
    
  }

  .stageBox {
    top: 0 !important;
  }
}

html, body, #root {
  height: 100%;
}

.App {
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
  background: linear-gradient(#28313B,#485461 );



  overflow-x: hidden;
}


.topNav {
  position: sticky;
  top: 0;
  padding: var(--navPadding);
  width:100%;
  color:white;
  background-color: black;
  z-index: 9999;
}


.selectionGrid {
  
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.stageGridCard {
  display: flex;
  height: 600px;
  flex-direction: column;
  position: relative;
  flex-grow:1;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}

.stagesDiv {
  width: 800px;
  display:flex;
  gap:15px;
}

.stageDiv {
  position: absolute;
  display: flex;
  aspect-ratio: 1080/2340;
  
  
}

.stageBox {
  display: flex;
  justify-content: center;
  position: relative;
  top: -20%;
}

.stageLink {
  display:flex;
  flex:1;
  color: black;
}

.navLinks {
  color: white;
  text-decoration: none;
}

.stagesImg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  
  
  transition: all 0.5s;
  
  
}



.stageGridCard:hover .stagesImg{
  transform: scale(1.1);
  
}

.stageGridCard:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(5, 5, 5) 0px 0px 0px 3px;
  cursor: pointer;
}

.stagesName {
  position: absolute;
  align-self: center;
  display: flex;
  margin-top: 10%;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
  font-weight: bold;
}

.topNavList {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.characterImg {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.characterList {
  display: flex;
  gap: 15px;
}


.menuBtn {
  border: 1px solid black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  text-align: start;
  background-position: center;
}

.menuBtn:hover {
  filter: brightness(90%);
}

.menuBtn > span {
  display: flex;
  flex:1;
  
}

.menuImg {
  width: 24px;
  height:24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menuBtn.menuF-true:hover{
  cursor: not-allowed;
}

.menuBtn:hover {
  cursor: pointer;
}

.foundtrue {
  filter: grayscale(100%);
}

.menuF-true {
  pointer-events: none;
  filter:grayscale(100%);
  background-color: gray;
}

.hidden {
  display:none !important;
}

.endPopUp, .homePopUp, .charPopUp, .infoPopUp {
  color: white;
  position: fixed;
  transform: translate(-50%, -50%);
  left:50%;
  top:50%;

  padding:10px;
  background-color: black;
}

.charPopUp {
  
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-position: center center;
  background-color: transparent !important;
}

.playerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.playForm > div {
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}



.formBtn {
  padding: 5px;
  font-family: inherit;
  background: inherit;
  color: inherit;
  width: 60px;

}


.entryDiv {
  display:flex;
  gap:5px;
  align-items: center;
}

.entryDiv > input {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
}

.btnDiv {
  display: flex;
  align-self: flex-end;
}

#overlay {
  position: fixed;
  inset:0;

  backdrop-filter: blur(6px);
}

.overlay {
  position: fixed;
  inset:0;

  backdrop-filter: blur(6px);
}


.lbEntryDiv {
  display: flex;
  gap: 20px;
  padding: 5px;
  
}

.lbEntryDiv > div {
  font-size: 18px;
}

.lbEntryDiv > :nth-child(1) {
  display: flex;
  flex-grow: 1;
}

.lbEntryDiv > :nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}



.lbTime {
  justify-content: end;
  display: flex;
  flex-grow: 1;
}

.leaderboardTitle {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 5px;
}

.indexDiv {
  display:flex;
  justify-content: flex-end;
  gap: 2px;
}


.indexBtns {
  padding:5px;
  
}

.navBtn {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border: 0;
}

.navBtn:hover {
  cursor: pointer;
  color: red;
}


.lbContainer {
  display:flex;
  gap: 10px;
  border-bottom: 5px solid white;
}

.lbBtns {
  padding:5px;
  font: inherit;
  background-color: inherit;
  color: inherit;
  font-size: 30px;
  border-bottom: 0px;
}

.lbBtns:hover {
  color: red;
}

.selected {
  color:red;
}

.lbTitle {
  display:flex;
  align-items: center;
}

.targetBtn {
  border:0;
  background-color: inherit;
}

.targetBtn:hover {
  border:1px solid;
  cursor: pointer;
}