:root {
  --navPadding: 30px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 850px) {
  .stageDiv {
    
    
    width: 100%;
    
  }

  .stageBox {
    top: 0 !important;
  }
}

html, body, #root {
  height: 100%;
}

.App {
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
  background: linear-gradient(#28313B,#485461 );



  overflow-x: hidden;
}


.topNav {
  position: sticky;
  top: 0;
  padding: var(--navPadding);
  width:100%;
  color:white;
  background-color: black;
  z-index: 9999;
}


.selectionGrid {
  
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.stageGridCard {
  display: flex;
  height: 600px;
  flex-direction: column;
  position: relative;
  flex-grow:1;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}

.stagesDiv {
  width: 800px;
  display:flex;
  gap:15px;
}

.stageDiv {
  position: absolute;
  display: flex;
  aspect-ratio: 1080/2340;
  
  
}

.stageBox {
  display: flex;
  justify-content: center;
  position: relative;
  top: -20%;
}

.stageLink {
  display:flex;
  flex:1;
  color: black;
}

.navLinks {
  color: white;
  text-decoration: none;
}

.stagesImg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  
  
  transition: all 0.5s;
  
  
}



.stageGridCard:hover .stagesImg{
  transform: scale(1.1);
  
}

.stageGridCard:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(5, 5, 5) 0px 0px 0px 3px;
  cursor: pointer;
}

.stagesName {
  position: absolute;
  align-self: center;
  display: flex;
  margin-top: 10%;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
  font-weight: bold;
}

.topNavList {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.characterImg {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.characterList {
  display: flex;
  gap: 15px;
}


.menuBtn {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  text-align: start;
  background-position: center;
}

.menuBtn > span {
  display: flex;
  flex:1;
  
}

.menuImg {
  width: 24px;
  height:24px;
  background-size: contain;
  background-repeat: no-repeat;
}