:root {
  --navPadding: 30px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.App {
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
  background: linear-gradient(#28313B,#485461 );
}


.topNav {
  position: sticky;
  top: 0;
  padding: var(--navPadding);
  width:100%;
  color:white;
  background-color: black;
  z-index: 9999;
}


.selectionGrid {
  
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.stageGridCard {
  display: flex;
  height: 600px;
  flex-direction: column;
  position: relative;
  flex-grow:1;
  
  transition: 0.5s;
  
}

.stagesDiv {
  width: 800px;
  display:flex;
  gap:5px;
}

.stagesImg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stageGridCard:hover {
  transform: scale(0.95);
}

.stagesName {
  position: absolute;
  align-self: center;
  display: flex;
  margin-top: 10%;
}

.topNavList {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
}